{{ define "department/update.html" }}
{{template "public/header" .}}

<!-- 中间内容区局 -->
<div class="container">
    <div class="row">
        <!-- 左侧菜单区域   -->
        {{block "department/menu" .}}{{end}}

        <!-- 右侧内容区域 -->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">新增部门</div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="/department/updateAdd?id={{.department.ID}}">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">部门名称</label>
                            <div class="col-sm-5">
                                <input type="text" name="name" value="{{.department.Name}}" class="form-control"
                                       id="name"
                                       placeholder="请输入部门姓名">
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control-static text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">部门电话</label>
                            <div class="col-sm-5">
                                <input type="text" name="phone" value="{{.department.Phone}}" class="form-control"
                                       id="phone"
                                       placeholder="请输入部门电话">
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control-static text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="manager_name" class="col-sm-2 control-label">部门主管</label>
                            <div class="col-sm-5">
                                <select name="manager_name" class="form-control" id="manager_name">
                                    {{ range .employee }}
                                    <option>
                                        {{ .Username }}
                                    </option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control-static text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{{end}}