{{ define "owner/create.html" }}
{{template "public/header" .}}

<!-- 中间内容区局 -->
<div class="container">
    <div class="row">
        <!-- 左侧菜单区域   -->
        {{block "owner/menu" .}}{{end}}

        <!-- 右侧内容区域 -->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">新增业主</div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="/owner/createAdd">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-5">
                                <input type="text" name="name" value="" class="form-control" id="name"
                                       placeholder="请输入学生姓名">
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control-static text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="work" class="col-sm-2 control-label">工作</label>

                            <div class="col-sm-5">
                                <input type="text" name="work" value="" class="form-control" id="work"
                                       placeholder="请输入业主工作">
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control-static text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">电话</label>

                            <div class="col-sm-5">
                                <input type="text" name="phone" value="" class="form-control" id="phone"
                                       placeholder="请输入业主电话">
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control-static text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-5">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="男"> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="女"> 女
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control-static text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}