{{define "public/header"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gin Demo--{{.title}}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>

<body style="background: rgba(0, 0, 0, 0) url('/assets/img/img.jpeg') no-repeat center center fixed; background-size: cover;">
    <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.5);margin-bottom: 10px;color: #FFFFFF;">
        <div class="container" style="background-color: rgba(0, 0, 0, 0.5);">
            <h2>小区物业收费</h2>
            <br />
            <p><b>@西安电子科技大学 陈航、李俊杰 软件开发综合实训-- 2023年</b></p>
        </div>
    </div>
{{end}}