{{define "public/left"}}
<div class="col-md-3">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">业主信息</div>
            <div class="list-group">
                <a href="/owner/list" class="list-group-item {{.active1}}">业主列表</a>
                <a href="/owner/create" class="list-group-item {{.active2}}">新增业主</a>
            </div>

            <div class="panel-heading">房屋信息</div>
            <div class="list-group">
                <a href="/room/list" class="list-group-item {{.active3}}">房屋列表</a>
                <a href="/room/create" class="list-group-item {{.active4}}">新增房屋</a>
                <a href="/room/updateOwner" class="list-group-item {{.active5}}">设置房屋</a>
            </div>
            {{if eq .e.IsManger 1}}
            <div class="panel-heading">部门信息</div>
            <div class="list-group">
                <a href="/department/list" class="list-group-item {{.active6}}">部门列表</a>
                <a href="/department/create" class="list-group-item {{.active7}}">新增部门</a>
            </div>

            <div class="panel-heading">员工信息</div>
            <div class="list-group">
                <a href="/employee/list" class="list-group-item {{.active8}}">员工列表</a>
                <a href="/employee/create" class="list-group-item {{.active9}}">新增员工</a>
            </div>
            {{ end }}

            <div class="panel-heading" style="display: flex; justify-content: space-between;">
                <a href="/index" style="text-align: left;">首页</a>
                <a href="/log/doLogout" style="text-align: right;">退出</a>
            </div>
            
        </div>
    </div>
</div>
{{ end }}